/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'East Sea Dokdo', cursive;
  background-color: #f5e3e3;
}

.main-content {
  position: relative;
  max-width: 1024px;
  margin: 2em auto;
  display: grid;
  justify-items: center;
  gap: 1.5em;
}

/* HEADER: TITLE OF THE PAGE AN HUD GAME */

header { padding: 1em; }

h1 {
  color: #160404;
  font-size: 64px;
  text-align: center;
}

header > h2 { 
  font-size: 1.75em;
  text-align: center; 
}

.vs-container {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}

.player {
  align-self: flex-end;
  display: flex;
  align-items:center;
  gap: 1em;
}

.pj-1 { color: #51a8db; }
.pj-2 { color: #fdbb2d;}

.avatar-container { font-size: 3em; }
.fas {text-shadow: 1px 1px black;}

.score {
  width: 360px;
  height: 24px;
  display: flex;
  border-radius: 5px;
  
}

.score-cell {
  height: 100%;
  
}

.score-cell:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.score-cell:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.size-1-1 {
  width: 100%;
}

.size-1-3 {
  width: 33.3333%;
}
.size-1-5 {
  width: 20%;
}

.pj-1 .score-cell:not(:last-child){ border-right: 1px solid #0a151b; }
.pj-2 .score-cell:not(:last-child){ border-right: 1px solid #201706; }

.pj-1 .score {
  background-image: linear-gradient(to right, #51a8db, #b21f1f);
  border: 1px solid #0a151b;
  box-shadow: 2px 2px 10px #1e3f52;
  transform: skew(20deg);
}
.pj-2 .score { 
  background-image: linear-gradient(to right, #b21f1f, #fdbb2d);
  border: 1px solid #5f4611;
  box-shadow: 2px 2px 10px #201706;
  transform: skew(-20deg);
}

.name{ padding: 0 .5em; }
.pj-1 .name,
.pj-2 .name {
  font-size: 2em;
}
.pj-1 .name { text-shadow: 1px 1px 0px #0a151b}
.pj-2 .name { text-align: right; text-shadow: 1px 1px #201706;}

.versus {
  color: #b21f1f;
  text-shadow: 5px 2px#160404;
  font-size: 128px;
}

/* BOARD OF THE GAME */

#board {
  width: 480px;
  height: 480px;
  display: grid;
  grid-template-columns: 160px 145px 1fr;
  grid-template-rows: 180px 120px 1fr;
  font-size: 124px;
  background-image: url(Tic_tac_toe_empty_board.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.board-cell {
  height: 124px;
  display: grid;
  justify-content: center;
}

.board-cell:nth-child(-n + 3 ) { align-self: flex-end; }

.point { background-color: green; }

/* SHARED CLASSES FOR FORM AND MESSAGE FOR HIDE AND DISPLAY THEM*/

.hide {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: grid;
  align-items: center;
  justify-content: center;
}

.overlay.has-background {
  background-color: rgba(0, 0, 0, .8);
}

.card {
  position: relative;
  width: 360px;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2em;
  padding: 1em;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

/* FORM START GAME */

legend {
  font-size: 1.5em;
  margin-bottom: .25em;
}

#sets-group label{
  padding: 0 1em;
  font-size: 1.25em;
}

#names-group {
  display: grid;
  gap: 1em;
}

.field {
  display: grid;
  gap: .5em;
}

.field label.name {
  padding: 0;
}


input[type="text"] {
  padding: .25em .5em;
  border-radius: 5px;
}

.pj-1 input[type="text"] {
  margin-left: 1.25em;
  color: #51a8db;
  background-color: #142a37;
  border: 1px solid #0a151b;
  box-shadow: 0px 0px 5px #1e3f52;
}
.pj-1 input[type="text"]:focus {
  outline: none;
  box-shadow: 2px 2px 10px #51a8db;
}

.pj-2 input[type="text"] {
  color: #fdbb2d;
  text-align: right;
  border: 1px solid #5f4611;
  box-shadow: 0px 0px 5px #201706;
  background-color: #5f4611;
}

.pj-2 input[type="text"]:focus {
  outline: none;
  box-shadow: 2px 2px 10px #fdbb2d;
}

/* MESSAGE DISPLAYED WHEN THERE IS A WINNER */

#win-message {
  font-size: 1.25em;
  text-align: center;
}

#win-message h2 {
  font-size: 36px;
}

#win-message-content {
  font-size: 24px;
}

/* BUTTONS */
.btn {
  margin: 1em 1em 0 1em;
  padding: .5em;
  color: hsl(0, 0%, 25%);
  font-weight: bold;
  font-size: .9em;
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 25px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  background-color: hsl(0, 0%, 95%);
  transition: all .2s;
}

.btn:hover {
  color: black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.25em;
  color: #160404;
}

.close-btn:hover {
  color: #b21f1f;
}

.main-content .buttons {
  position: absolute;
  right: 20px;
  font-size: 1.2em;
}

.main-content .buttons .btn {
  margin: .5em .5em 0 .5em;
}

.buttons {
  display: flex;
}

.buttons .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75em;
  font-size: 1em;
  text-decoration: none;
}

.buttons .btn i {
  font-size: .75em;
  text-decoration: none;
}

.play-btn { color: #008000; }